{% extends 'base.html' %}

{% block title %}Shorting url{% endblock %}

{% block content %}
<center>
    <h1>Here you can reduce your url</h1>
    <br>
    <p>You can reduce only 5 urls for free. The shorten urls will b deleted in 30 days.</p>
    <br>
    <form action="#", method="post">
        <label for="url">Enter url:</label>
        <input type="url" name="nm" pattern="https://.*" placeholder="http://127.0.0.1:5000" required>
        <br>
        <br>
        <div class="col align-self-center">
            <input type="submit" value="Enter" class="btn btn-primary">
            <a href="http://127.0.0.1:5000/logout" class="btn btn-primary mx-3" style="color: rgb(255, 255, 255);">Logout</a>
        </div>
    </form>
</center>
{% endblock %}