{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <center>
        <h2>Get started</h2>
        <a href="http://127.0.0.1:5000/login">Login</a>
        <br>
        <form action="{{ url_for }}">
            <div style="width: 30%;">
                {{ form.username(class_='form-control',
                placeholder = 'Username', autocomplete = 'off',
                autofocus = true) }}
            </div>
            <br>
            <div style="width: 30%;">
                {{ form.password(class_='form-control',
                placeholder = 'Password')}}
            </div>
            <br>
            <div style="width: 30%;">
                {{ form.confirm_pswd(class_='form-control',
                placeholder = 'Retype password') }}
            </div>
            <br>
            <div>
                <input type="submit" value="Create">
            </div>

            {{ form.csrf_token }}

        </form>
    </center>

{% endblock %}