{% extends 'base.html' %}

{% block title %}Static{% endblock %}

{% block content %}

<center>
    <table border="1">
        <tr>
            <th>name</th>
            <th>counts</th>
        </tr>
        {% for row in url_dict %}
            <tr>
                <td><a href="{{row[0]}}" title="{{row[0]}}">{{ row[0][0:21]|tojson }}...</a></td> 
                <!-- tojson - returns string (строку) formated -->
                <td>{{ row[1] }}</td>
            </tr>
        {% endfor %}
    </table>
</center>

{% endblock %}